{{input value=item_id }}

{{#link-to "invoices" class="button"}}
	Cancel
{{/link-to}}

<button class="btn" {{action "addInvoice"}}>
	Ok
</button>

{{#each invoices as |invoice|}}
	{{invoice.id}}
	{{invoice.name}}
{{/each}}