<div class="invoice-item-wrapper">
	<div>
		<span>ID: </span>{{this.invoice.id}}
	</div>
	<div>
		<span>Amount: </span>{{this.invoice.amount}}
	</div>
	<div>
		<span>From: </span>{{this.invoice.from}}
	</div>
	<div>
		<span>Date: </span>{{this.invoice.date}}
	</div>

</div>